*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round';
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #379683;
    padding: 20px;
    font-size: 18px;

    .logo{
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 50%;
        margin-left: 20px;

        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
        }
    }

    .nav-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        color: white;
        gap: 60px;
        margin-right: 20px;

        .nav-item a{
            text-decoration: none;
            color: white;
        }

        .nav-item a.active {
            color: #F59182;
            font-weight: bold;
        }

        .nav-item a:active,

        .nav-item a:hover{
            color: #F59182 ;
        }
    }
}

body{
    width: 100%;
    height: 100vh;
    background-color: #A8E6CF;
}

main{
    display: flex;
    flex-direction: row;

        .section{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &.right{
                height: 100vh;
                padding: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1{
                    color: #F59182;
                    margin-bottom: 50px;                   
                    font-size: 60px; 
                }

                .contact-form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 10px;
                    gap: 10px;

                    .full-name{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                    }
                    .email{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                    }
                    .phone{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                    }
                    .message-box{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;
                    }

                    .submit-btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 50px;

                        button{
                            width: 150px;
                            height: 50px;
                            font-size: 16px;
                            background-color: #F59182;
                            color: white;
                            border-radius: 50px;
                            border: none;
                        }

                        button:hover{
                            background-color: #f47663;
                            color: white;
                            transition: .2s;
                        }
                    }
                    
                    label{
                        margin-left: 15px; 
                        margin-bottom: 10px;
                        font-size: 16px;
                        letter-spacing: -.5px;
                    }

                    input{
                        border: none;
                        outline: none;
                        border-radius: 70px;
                        width: 270px;
                        height: 50px;
                        padding: 15px;
                        margin-top: 10px 0px 0px 10px;
                    }

                    input::placeholder{
                        color: lightgray;
                        font-size: 16px;
                    }

                    input:focus{
                        color: green;
                    }

                   textarea{
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    resize: none;
                    padding: 10px;
                   }

                   textarea::placeholder{
                    color: lightgray;
                    font-size: 16px;
                   }
                }
            }

            &.left {
                background-color: #F3F3F3; /* Light gray background */
                height: 118vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 25px;
              
        
                h1 {
                    color: #379683;
                    font-size: 60px; /* Larger heading */
                    margin-bottom: 50px; /* Add spacing below the heading */
                }
        
                .contact-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 20px; /*Space between each contact info section*/
                }
            }
        }   
}

.tiles-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 120px;
}

.tiles-row {
    display: flex;
    column-gap: 80px;
    flex-direction: row;
    align-items: center;
}

.tiles-left{
    img{
        width: 60px;
        height: 60px;
    }
}

.tiles-right{
    display: flex;
    flex-direction: column;
    h2{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}
