*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round';
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #379683;
    padding: 20px;
    font-size: 18px;

    .logo{
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 50%;
        margin-left: 20px;

        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
        }
    }

    .nav-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        color: white;
        gap: 60px;
        margin-right: 20px;

        .nav-item a{
            text-decoration: none;
            color: white;
        }

        .nav-item a:hover{
            color: #F59182 ;
        }
    }
}

body{
    background-color: #A8E6CF;
    width: 100vw;
    height: 100vh;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #F59182;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item img{
    width: 299px;
    height: 401px;
}

.item p{
    display: flex;
    justify-content: center;
    font-size: 18px;
}