@import url('vars.css');

.flex{
    display: flex;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.hidden{
    display: none;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.items-center{
    align-items: center;
}

.items-start{
    align-items: flex-start;
}

.items-end{
    align-items: flex-end;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.top-none{
    top: 0;
}

.right-none{
    right: 0;
}

.left-none{
    left: 0;
}

.bottom-none{
    bottom: 0;
}

.h-full{
    height: 100%;
}

.h-half{
    height: 50%;
}

.h-screen{
    height: 100vh;
}

.w-full{
    width: 100%;
}

.w-half{
    width: 50%;
}

.w-screen{
    width: 100vw;
}

.fixed{
    position: fixed;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.p-xs{
    padding: var(--gap-xs);
}

.p-sm{
    padding: var(--gap-sm);
}

.p-md{
    padding: var(--gap-md);
}

.p-lg{
    padding: var(--gap-lg);
}

.p-xl{
    padding: var(--gap-xl);
}

.p-2xl{
    padding: var(--gap-2xl);
}

.p-3xl{
    padding: var(--gap-3xl);
}

.px-xs{
    padding-left: var(--gap-xs);
    padding-right: var(--gap-xs);
}

.px-sm{
    padding-left: var(--gap-sm);
    padding-right: var(--gap-sm);
}

.px-md{
    padding-left: var(--gap-md);
    padding-right: var(--gap-md);
}

.px-lg{
    padding-left: var(--gap-lg);
    padding-right: var(--gap-lg);
}

.px-xl{
    padding-left: var(--gap-xl);
    padding-right: var(--gap-xl);
}

.px-2xl{
    padding-left: var(--gap-2xl);
    padding-right: var(--gap-2xl);
}

.px-3xl{
    padding-left: var(--gap-3xl);
    padding-right: var(--gap-3xl);
}

.py-xs{
    padding-top: var(--gap-xs);
    padding-bottom: var(--gap-xs);
}

.py-sm{
    padding-top: var(--gap-sm);
    padding-bottom: var(--gap-sm);
}

.py-md{
    padding-top: var(--gap-md);
    padding-bottom: var(--gap-md);
}

.py-lg{
    padding-top: var(--gap-lg);
    padding-bottom: var(--gap-lg);
}

.py-xl{
    padding-top: var(--gap-xl);
    padding-bottom: var(--gap-xl);
}

.py-2xl{
    padding-top: var(--gap-2xl);
    padding-bottom: var(--gap-2xl);
}

.py-3xl{
    padding-top: var(--gap-3xl);
    padding-bottom: var(--gap-3xl);
}

.m-xs {
    margin: var(--gap-xs);
  }
  .m-sm {
    margin: var(--gap-sm);
  }
  .m-md {
    margin: var(--gap-md);
  }
  .m-lg {
    margin: var(--gap-lg);
  }
  .m-xl {
    margin: var(--gap-xl);
  }
  .m-2xl {
    margin: var(--gap-2x);
  }
  .m-3xl {
    margin: var(--gap-3x);
  }
  
  .mx-xs {
    margin-left: var(--gap-xs);
    margin-right: var(--gap-xs);
  }
  .mx-sm {
    margin-left: var(--gap-sm);
    margin-right: var(--gap-sm);
  }
  .mx-md {
    margin-left: var(--gap-md);
    margin-right: var(--gap-md);
  }
  .mx-lg {
    margin-left: var(--gap-lg);
    margin-right: var(--gap-lg);
  }
  .mx-xl {
    margin-left: var(--gap-xl);
    margin-right: var(--gap-xl);
  }
  .mx-2xl {
    margin-left: var(--gap-2x);
    margin-right: var(--gap-2x);
  }
  .mx-3xl {
    margin-left: var(--gap-3x);
    margin-right: var(--gap-3x);
  }
  
  .my-xs {
    margin-top: var(--gap-xs);
    margin-bottom: var(--gap-xs);
  }
  .my-sm {
    margin-top: var(--gap-sm);
    margin-bottom: var(--gap-sm);
  }
  .my-md {
    margin-top: var(--gap-md);
    margin-bottom: var(--gap-md);
  }
  .my-lg {
    margin-top: var(--gap-lg);
    margin-bottom: var(--gap-lg);
  }
  .my-xl {
    margin-top: var(--gap-xl);
    margin-bottom: var(--gap-xl);
  }
  .my-2xl {
    margin-top: var(--gap-2xl);
    margin-bottom: var(--gap-2xl);
  }
  .my-3xl {
    margin-top: var(--gap-3xl);
    margin-bottom: var(--gap-3xl);
  }

  .pt-xs {
    padding-top: var(--gap-xs);
  }
  
  .pb-xs {
    padding-bottom: var(--gap-xs);
  }
  
  
